@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    font-family: 'Dancing Script', cursive;
}

body{
    background-image:url('https://i.pinimg.com/564x/28/80/81/28808171a92da9f4ba7beb4c6677fc5e.jpg') ;
    background-color: red;
}

.headermain{
    position: sticky;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: red;
    padding: 20px;
    background-color: blanchedalmond;
    border-radius: 5px;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

img {  
    max-width: 100%;  
    height: 100%;  
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
}  

#hello{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}


#main-id{
    /* border: 1px solid black; */
     background-color: lightblue;
    margin-top: 30px;
        /* height: 200px;
        overflow: auto; */
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

img:hover{
    margin: 3px;   
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 100%;
    border-top: 16px solid black;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20%;
}
  
@keyframes spin {
    100%{ 
        transform: rotate(360deg); 
    }
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
 }

 .get_link img{
    height: 50px;
    margin-top: 10px;
    width: 100%;
    /* color: red; */
 }

 button{
     background: none;
     border: none;
 }

 .get_link{
     margin-top: 10px;
     align-items: center;
     text-align: center;
     color: black;
     background-color: #b9b9b9;
     height: 70px;
     border-radius: 10px;
     position: sticky;
     top: 100px;
     overflow-x:auto; 
     /* margin-left: 50px; */
 }

 .buttonimg{
    box-shadow:none;
 }

.buttonimg div{
    width: 10%;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    box-shadow:none;
}

 @media(max-width: 768px){
     .buttonimg{
         display: flex;
         flex-direction: row;
         overflow-x:scroll;
     }

     .buttonimg div{
        width: 80px;
        height:80px;
     }

     .get_link{
        top: 80px;
        overflow-x:scroll;
     }
 }

 


